body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
  }

.header {
    background: #1F2937;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1px 20px 20px 20px; /* top, right, bottom, left */
    font-size: 32px;
    font-weight: 900;
    justify-content: space-around;
  }

.footer {
    height: 100px;
    background: #1F2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
  }

  ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-weight: 100; /* Used to remove boldness from header links */
  }

  a {

    color: white;
    text-decoration: none;
    font-size: 24px;
  }

  li {

    margin: 16px;
  }


.logo {
    color: white;
    font-size: 24px;
    font-weight: 900;
  }

.left-items, .right-items {

    display: flex;
    align-items: center;
  
  }

.intro {

    height: 350px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 16px;
    background: #1F2937;

}

.intro-left {

    display:flex;
    flex-direction: column;
    max-width: 400px;
    color: white;
    margin: 1px 1px 1px -20px;
    padding: 0;
}

.intro-right {

    margin: 1px 1px 1px -330px;
    padding: 1px 16px;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 530px;
    background: grey;
    color: white;
}

h1 {

    font-size: 48px;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: auto;
}

p {

    font-size: 18px;
}

.header-btn {

    max-width: 90px;
    background-color: #3882F6;
    padding: 10px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
}

.placeholder-img {

}

.info1 {

    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 16px;
    background: white;
    padding: 1px 1px 100px 1px; /* top, right, bottom, left */
}

.info1-header {

    text-align: center;
}

.info1-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5em;
}

.info1-borderbox {

    display: flex;
    justify-content: center;
    gap: 5em;
}

.border-container {

    display: flex;
    flex-direction: column;
    max-width: 200px;

}

.info1-border {

    border-radius: 25px;
    border: 4px solid #3882F6;
    padding: 20px;
    width: 150px;
    height: 150px;
}

.border-subtext {

    text-align: center;
}